function Main.main 4
push argument 0
pop pointer 0
push constant 100
call Stack.newobj 1
pop local 0
push local 0
push constant 1
call Stack.push 2
pop temp 0
push local 0
push constant 2
call Stack.push 2
pop temp 0
push local 0
push constant 3
call Stack.push 2
pop temp 0
push local 0
push constant 4
call Stack.push 2
pop temp 0
push local 0
call Stack.display 1
pop temp 0
push local 0
call Stack.pop 1
pop temp 0
push local 0
push constant 5
call Stack.push 2
pop temp 0
push local 0
push constant 6
call Stack.push 2
pop temp 0
push local 0
call Stack.display 1
pop temp 0

