push constant 11
push constant 20
add
push local 1
push local 2
and
pop local 1
label test1
push constant 12
push constant 21
add
label test2
push constant 13
push constant 23
add
goto test1
push constant 24
push constant 14
gt
if-goto test2
push constant 2
push constant 4
call mult 2